snippet fncom
#######################################
# description
# Globals:
#   None
# Arguments:
#   None
# Returns:
#   None
#######################################
endsnippet

snippet fnc
#######################################
# description 
# Globals:
#   None
# Arguments:
#   None
# Returns:
#   None
#######################################
function name {
}
endsnippet
