snippet component
// @flow

import React from 'react'
import PropTypes from 'prop-types'
import classNames from 'classnames'

type Props = {
}

class Component extends React.Component<Props> {
  render() {
  }
}

export default Component
endsnippet
