snippet component
// @flow

import * as React from 'react'
import * as R from 'ramda'
import { useEffect, useState, useCallback } from 'react'

type Props = {
}

export default function Component(props: Props) {
	return <div/>
}
endsnippet
